/*The packs*/
.packContainer{
    position: relative;
    width: 100%;
    margin-bottom: 32px;
}

.packDescription{
    padding: 5px;
    padding-bottom: 24px;
    width:100%;
    background:linear-gradient(135deg, rgba(97,100,101,0.3) 0%,rgba(226,244,255,0.3) 100%);
}

.packTitle{
    color:#fff;
    font-size:large;
    font-weight:bold;
}

.packContent{
    font-size:small;
    color:#999;
}

.price{
    display: inline-block;
    color:#fff;
    background:#000;
    padding: 2px;
    border-radius: 3px;
    position:  absolute;
    right: 20px;
    margin-top:-16px;
}

.discount, .buy, .innerPrice{
    display: inline-block;
    line-height:100%;
    font-size:26px;
}

.discount{
    background:#4c6b22;
    color: #a4d007;
}

.oldPrice, .newPrice{
        margin-top:4px;
    display:block;
    line-height:50%;
    font-size:50%;
}

.oldPrice{
    color:#aaa;
    text-decoration: line-through;
}

.newPrice{
    font-weight:bold;
}

a.buy:link, a.buy:hover, a.buy:active, a.buy:visited {
    color: #D2E885;
    font-size: 18px;
    height: 100%;
    background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
    text-decoration: none;
    padding: 4px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

a.buy:hover{
    background: linear-gradient( to bottom, rgba(164,208,7,1) 5%, rgba(107,135,5,1) 95%);
    color: #fff;
}